/* ------------ */
/* Variable dec */
/*--------------*/

:root {
	--ff-title: 'Mukta',
		sans-serif;
	--ff-body: 'Source Sans Pro',
		sans-serif;
	--ff-accent: 'Work Sans',
		sans-serif;
}


html {
font-size: 1rem;
font-family: var(--ff-body);
}

/* ------------ */
/* Typography */
/*--------------*/

h3 {
	font-family: var(--ff-title);
	font-size: 1.75rem;
	margin-bottom: .25em;
}

h4 {
	font-family: var(--ff-accent);
	font-size: 1.25rem;
	font-weight: 400;
	font-style: italic;
	margin-bottom: .5em;
}

.cardText a {
	font-family: var(--ff-accent);
  color: hsl(100, 0%, 70%);
	text-decoration: none;
}

.cardText a:hover,
.cardText a:focus {
	color: hsl(100, 20%, 60%);
}


/* ------------ */
/* Basic layout */
/*--------------*/


header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0.5em 0.75em;
	color: white;
	transition: top 0.3s;
	height: 110px;
	font-family: var(--ff-title);
}

footer {
  padding: .5em .75em;
	font-size: .875rem;
	font-family: var(--ff-title);
}

img {
  max-width: 100%;
  width: fit-content;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}



/*--------------*/
/*  Nav Layout  */
/*--------------*/

.site-logo {
  border-bottom: 1px solid #555;
}

.site-logo {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: .5rem;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: calc(var(--spacing) / 2) var(--spacing);
}

.footer-nav {
	display: flex;
	justify-content: center;
}
/*---------------*/
/*  Select Area  */
/*---------------*/
.home-intro {
  padding-top: 110px;
  padding-bottom: 50px;
  background: #777 url(../images/colorado-scene-jamie-gilluly.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}
.selects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 5rem;
  margin-bottom: 40px;
}
.select__list {
  margin: 0 20px;
}
.btn-like {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: hsl(120, 100%, 25%);
  padding: 0.75em 1em;
  border-radius: 20px;
	transform: scale(1.0);
	transition: all 250ms;
}

.btn-like:hover,
.btn-like:focus {
	background-color: hsl(120, 100%, 40%);
	transform: scale(1.1);
}

/*---------------*/
/*   Card Area   */
/*---------------*/

.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 10px;
}
.card__list-item {
  width: 300px;
  height: 600px;
  margin: 2rem .5rem;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 7px;
	font-family: var(--ff-accent)
}
.cardText{
	padding: 1em 1em;
}
.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card__back {
  color: white;
  background: black;
  transform: rotateY(180deg);
}
.card:hover,
.card:focus {
  transform: rotateY(180deg);
}
.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

/*---------------*/
/* Media Queries */
/*---------------*/

@media (min-width:400px){
.card__list-item {
	width: 400px;
	height: 600px;
	margin: 2rem 2rem;
	perspective: 1000px;
}
}