footer {
  padding: 8px;
  margin-top: auto;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5em 0.75em;
  color: white;
  transition: top 0.3s;
  height: 110px;
}
img {
  max-width: 100%;
  width: fit-content;
}
.site-logo {
  border-bottom: 1px solid #555;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.site-logo {
  text-decoration: none;
  color: inherit;
  font-weight: 900;
  font-size: 2rem;
  padding-bottom: .5rem;
}
.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.nav__link {
  --spacing: 1em;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  padding: calc(var(--spacing) / 2) var(--spacing);
}
.home-intro {
  padding-top: 110px;
  padding-bottom: 50px;
  background: #777 url(../images/colorado-scene-jamie-gilluly.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}
.selects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 5rem;
  margin-bottom: 40px;
}
.select__list {
  margin: 0 20px;
}
.btn-like {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: green;
  padding: 0.75em 1em;
  border-radius: 20px;
}
.footer-nav {
  display: flex;
  justify-content: center;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  column-gap: 10px;
}
.card__list-item {
  width: 300px;
  height: 600px;
  margin: 2rem .5rem;
  perspective: 1000px;
}
.card {
  position: relative;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 7px;
}
.card__front,
.card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card__back {
  color: white;
  background: black;
  transform: rotateY(180deg);
}
.card:hover,
.card:focus {
  transform: rotateY(180deg);
}
.card {
  transition: transform 1s;
  transform-style: preserve-3d;
}

@media (min-width:400px){
.card__list-item {
	width: 400px;
	height: 600px;
	margin: 2rem 2rem;
	perspective: 1000px;
}
}